<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JavaServer Pages</title>
        <link href="../css/pa.css" rel="stylesheet" type="text/css" media="screen" >
        <link rel="stylesheet" href="../css/prism.css">
    </head>
    <body>
        <form action="../index.html">
            <button type="submit">Atras</button>
        </form>
        <div id="indexjs">
            <h1 id="tindex">Índice</h1>
            <hr class="linea">
            <ul>
                <li><a href="#qjs">1 ¿Qué es JavaServer Pages?</a></li>
                <ul>
                    <li><a href="#conp">2.0 Elementos de JSP</a></li>
                    <li><a href="#incjs">2.1 Código Java</a></li>
                    <li><a href="#incjs1">2.1.1 Expresiones</a></li>
                    <li><a href="#incjs2">2.1.2 Scriptlets</a></li>
                    <li><a href="#incjs3">2.1.3 Declaraciones</a></li>
                    <li><a href="#tec1">2.2 Directivas</a></li>
                    <li><a href="#tec2">2.2.1 Page</a></li>
                </ul>
            </ul>
        </div>
        <header id="tt">
            <h1 id="qjs" class="title">¿Que es JavaServer Pages?</h1>
        </header>
        <div id="segundaColumna">
            <p class="param">
                El Jsp(JavaServer Pages)es una pagina de HTML basada en lenguaje java que permite que las páginas tenga contenido dinámico a las páginas web estos archivos JSP combinan HTML con etiquetas especiales y incrusta fragmentos de código Java.
                Los códigos fuentes de una página puede contener:
            <ul>
                <li>Directivas: Indican información general de la página, como puede ser importación de clases, página a invocar ante errores, si la página forma parte de una sesión, etc</li>
                <li>Declaraciones: Sirven para declarar métodos o variables. </li>
                <li>Scriptlets: Código Java embebido. </li>
                <li>Expresiones: Expresiones Java que se evalúan y se envían a la salida. </li>
                <li>Tags JSP: Etiquetas especiales que interpreta el servidor.</li>
            </ul>
            <pre  class="example">
                <code class="language-markup">
                    &lt%@page import="java.util.*"%&gt
                    &lt%! String cadena="Bienvenidos a JSP"; %&gt
                    &lthtml&gt
                        &ltbody&gt
                    &lt%= cadena %&gt
                    &ltbr&gt
                        &lt% out.println(new Date()); %&gt
                    &ltbody&gt
                    &lt/html&gt 
                </code>
            </pre>
        </p>
        <h2 id="conp" class="subtitle">Elementos de JSP</h2>
        <p class="param">
            Los comentarios en las páginas JSP se escriben: <%-- comentario --%>
        </p>
        <h2 id="incjs" class="subtitle">Código Java</h2>
        <p class="param">
            Podemos insertar código Java dentro de JSP de tres formas: Expresiones, scriptlets y declaraciones.<br>
        </p>
        <h2 id="incjs1" class="subtitle">Expresiones</h2>
        <p class="param">
            Son fragmentos de código Java, con la forma <strong><%= expresión %></strong> que se evalúan
            y se muestran en la salida del navegador. En general, dentro de una expresión podemos usar cualquier
            cosa que usaríamos dentro de un <strong>System.out.print(expr);.</strong><br>
            <strong>Ejemplo</strong>
        </p>
        <pre  class="example">
                <code class="language-markup">
                        <%= "Tamaño de cadena: "+cadena.length() %>
                        <%= new java.util.Date() %>
                        <%= Math.PI*2 %> 
                </code>
        </pre>
        <h2 id="incjs2" class="subtitle">Scriptlets</h2>
        <p class="param">
            Son fragmentos de código Java con la forma <% código %>, en general, podemos
            insertar cualquier código que pudiéramos usar dentro de una función Java. Para acceder a la salida del
            navegador, usamos el objeto implícito <strong>out.</strong><br>
            <strong>Ejemplo</strong>
        <pre  class="example">
                <code class="language-markup">
                        &lttable&gt
                                <% for (int i=0;i<10;i++)
                                     {
                                %>
                                &lttr&gt&lttd&gt <%=i%> &lt/td&gt&lt/tr&gt
                                <% }
                                %>
                       &lt/table&gt
                        <%
                           out.println("&lttable&gt");
                           for (int i=0;i<10;i++)
                          out.println("&lttr&gt&lttd&gt"+i+"&lt/td&gt&lt/tr&gt");
                           out.println("&lt/table&gt");
                        %>
                </code>
        </pre>
        Si observamos los dos ejemplos anteriores (que hacen lo mismo), podría parecer que la segunda opción
        es más deseable, pero en general hay que evitar el uso de <strong>out.println(</strong> para elementos HTML. En
        un proyecto en el que trabajen programadores y diseñadores conjuntamente, hay que separar presentación
        y código tanto como sea posible.<br>
        Dentro de un scriptlet podemos usar cualquier librería de Java, incluyendo las propias, lo cual hace que
        resulte muy sencillo construir interfaces web de entrada y salida para nuestras clases.
        <pre  class="example">
                <code class="language-markup">
                      <%
                           String parametro1=request.getParameter("parametro1");
                           String parametro2=request.getParameter("parametro2");
                           MiClase miClase=new MiClase();
                           String salida=miClase.procesa(parametro1, parametro2);
                      %>
                      <%= salida %>
                </code>
        </pre>
    </p>
    <h2 id="incjs3" class="subtitle">Declaraciones</h2>
        <p class="param">
            Contienen declaraciones de variables o métodos, con la forma<strong> <%!
            declaración %>.</strong> Estas variables o métodos serán accesibles desde cualquier lugar de la página JSP.
            Hay que tener en cuenta que el servidor transforma la página JSP en un servlet, y éste es usado por
            múltiples peticiones, lo que provoca que las variables conserven su valor entre sucesivas ejecuciones. 
        <pre  class="example">
                <code class="language-markup">
                        <%! int numeroAccesos=0; %>
                        &lthtml&gt
                              &ltbody&gt
                                   <%=
                                      "La página ha sido accedida "+(++numeroAccesos)+
                                      " veces desde el arranque del servidor"
                                   %>
                              &lt/body&gt
                        &lt/html&gt
                        <%! java.util.Date primerAcceso=new java.util.Date(); %>
                        &lthtml&gt
                           &ltbody&gt
                                 El primer acceso a la página se realizo en:
                                 <%= primerAcceso %>
                           &lt/body&gt
                        &lt/html&gt 
                </code>
        </pre>
    </p>
    <h2 id="tec1" class="subtitle">Declaraciones</h2>
            <p class="param">
                Las directivas son elementos que proporcionan información al motor JSP, e influirán en la estructura del
                servlet generado. Hay tres tipos de directivas: <strong>page, taglib e include.</strong>
            </p>
            <h2 id="tec2" class="subtitle">Page</h2>
            <p class="param">
                Se indica con la forma <strong><%@ page atributo="valor">.</strong> Tiene diversos usos, entre los
                cuales destacaremos:
             <ul id="items">
                 <li><strong>Importar clases:</strong> Importar código, de la misma forma que se realiza en un programa en Java,se indica con el atributo import</li>
                  <strong>Ejemplo</strong>
                 <pre class="example">
                       <code class="language-markup">
                        <%@page import="java.io.*, miPackage.miClase"%> 
                       </code>
        </pre>
                <li>Web Semántica.</li>
                <li>Web 3D.</li>
                <li>Contiene Inteligencia Artificial.</li>
                <li>Web centrada en los medios.</li>   
            </ul>
            </p>
</div>
<script src="../jss/prism.js"></script>
</body>
</html>
